body 
{
	background-color: #EFEFEF;
}

p
{
	text-align: justify;
	text-indent: 1.5cm;
	font-size: 14pt;
}

h1
{
	overflow: hidden;
	background-color: white;
	padding: 20px 550px;
	position: fixed;
	top: 0;
	width: 100%;
	border: solid;
	padding-top: 30px;
	padding-bottom: 30px;
	border-width: thin;
	
	background-image: url("computador.png");
	background-repeat: no-repeat;
	background-position: 30px 22px;
}

h2
{
	border: solid;
	border-width: thin;
	padding-top: 1cm;
	padding-bottom: 5px;
	color: #AA0000;
}

h1
{
	
}

.header a
{
	font-size: 20px;
	text-align: center;
	color:  #AA0000;	
}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
